<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<listener>
		<listener-class>org.backmeup.rest.listener.ContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>BackMeUp REST API</servlet-name>
		<!-- <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> 
			<init-param> <param-name>com.sun.jersey.config.property.packages</param-name> 
			<param-value>org.backmeup.rest;org.codehaus.jackson.jaxrs</param-value> </init-param> -->
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BackMeUp REST API</servlet-name>
		<url-pattern>/backmeup/*</url-pattern>
	</servlet-mapping>
	<!-- context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>  -->
	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>
		org.backmeup.rest.exceptionmapper.AlreadyRegisteredExceptionMapper,
		org.backmeup.rest.exceptionmapper.IllegalArgumentExceptionMapper,
		org.backmeup.rest.exceptionmapper.InvalidCredentialsMapper,
		org.backmeup.rest.exceptionmapper.NullPointerExceptionMapper,
		org.backmeup.rest.exceptionmapper.UnknownUserExceptionMapper,
		org.backmeup.rest.exceptionmapper.BackMeUpExceptionMapper,		
		org.backmeup.rest.provider.ObjectMapperContextResolver
		</param-value>
	</context-param> 
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>
		org.backmeup.rest.Actions,
		org.backmeup.rest.BackupJobs,
		org.backmeup.rest.Backups,
		org.backmeup.rest.Datasinks,
		org.backmeup.rest.Datasources,
		org.backmeup.rest.Users,
		org.backmeup.rest.Metadata
		</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/backmeup</param-value>
	</context-param>
</web-app>